body {

   
}

img {
    
        
        height: 250px;
        width: 250px;

}

.image-container {
    
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: space-around;

}

.image-card {
    display: inline-block;
    position: relative;
    margin: 8px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}


.image-board-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black;
    margin-bottom: 27px;
  
}
.image-board-title h1 {
    font-size: 51px;
    border: 1 px solid black;
    font-family: "amatic SC";
}

form {
    display: flex;
    justify-content: center;
    align-items: center;  
}
form input {
    border-radius: 5px;
    width: 160px;
    height: 22px;
    margin: 13px;
}


.image-card p{
    font-family: 'Varela round' ;
}

button{
    width: 100px;
    height: 30px;
}